@use 'styles/breakpoints';

%navbar-icon {
    background-position: cover;
    background-size: contain;
    height: 32px;
    width: 32px;
    margin: 15px;
}

.linkedin {
    @extend %navbar-icon;
    background-image: url('/icons/LinkedIn.png');
}
.github {
    @extend %navbar-icon;
    background-image: url('/icons/GitHub.png');
}
.cv {
    @extend %navbar-icon;
    background-image: url('/icons/CV.svg');
}

.janco {
    background-image: url('/icons/JanCo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 128px;
    margin: 15px;
}

@media screen and (max-width: breakpoints.$sm) {
    %navbar-icon, .janco {
        margin: 10px;
    }
}