@use 'base';
@use 'breakpoints';

html, body {
  padding: 0;
  margin: 0;
  font: base.$font-stack;
  background-color: base.$primary-color;
  color: base.$text-color;
  line-height: 1.5em;
}

%header, #header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  @extend %header;
  font-weight: bold;
  margin: 10px;
}

h2 {
  @extend %header;
  font-weight: normal;
  margin: 5px;
}

.title {
  letter-spacing: 0.075em;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

#profile-image {
  border-radius: 50%;
  margin: 10px 0 10px 0;
  width: 200px;
  height: 200px;
}

#org-logos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

#navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin: 24px;
}

#navbar-icon-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#footer {
  background-color: base.$footer-color;
  text-align: center;
  padding: 25px;
  margin-top: 100px;

  a {
      color: base.$text-color;
  }
  a.hover {
      color: base.$text-color;
  }
}

.section, %section {
  text-align: center;
  margin-top: 125px;
  margin-bottom: 50px;
  max-width: 1000px;
}

.stripe {
  background: linear-gradient(169.84deg, 
    rgba(65, 65, 65, 0) 25.11%, 
    base.$primary-secondary-shadow-color 25.11%, 
    base.$secondary-color 33.54%, 
    base.$secondary-color 79.4%, 
    rgba(65, 65, 65, 0) 79.4%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  right: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2000px;
}

.section-stripe {
  @extend %section;
  min-height: 1500px;
}

@media screen and (min-width: breakpoints.$sm) {
  .stripe {
    height: 2000px;
  }
  .section-stripe {
    min-height: 1500px;
  }
}

@media screen and (max-width: breakpoints.$sm) {
  .stripe {
    height: 1500px;
  }
  .section-stripe {
    min-height: 1250px;
  }
}

@media screen and (max-width: breakpoints.$xs) {
  .stripe {
    height: 2500px;
  }
  .section-stripe {
    min-height: 2250px;
  }
}

